@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Pacifico&family=Praise&display=swap');
.logo-Navbar{
  font-family: 'Kodchasan', sans-serif;
}
.Search-Bar{
  padding-left: 100px;
}
.Avatar-Navbar{
  padding-left: 50px;
}
.login-Button{
  padding-left: 30px;
  
}
.Box-Top{
  display: flex;
  flex-direction: row;
  order: 5;
}