@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Pacifico&family=Praise&display=swap');
.logo-Navbar{
  font-family: 'Kodchasan', sans-serif;
}
.Search-Bar{
  padding-left: 100px;
}
.Avatar-Navbar{
  padding-left: 50px;
}
.login-Button{
  padding-left: 30px;
  
}
.Box-Top{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 100px;
  padding-top: 50px;
  margin: 4rem;
  margin-left: 200px;

  
  
}
.Container-Top{
  text-align: center;
  
}